body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   background-color: whitesmoke;
}

header {
   position: relative;
   top: 0px;
   left: 0px;
   background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/RMIT_University_Logo.svg/2560px-RMIT_University_Logo.svg.png") no-repeat;
   width: 100%;
   height: 100px;
   background-size: cover;

}


h1, h3, h4, p{ 
   color:#000054;
}
h2 {
   color: #FAC800;
}

i {
   color: #E61E2A;
}

.card {
   width: 400px;
   height: auto;
   display: flex;
   border: 2px solid lightgrey;
   border-radius: 10px;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   flex-wrap: wrap;
   justify-content: center;
   padding: 30px;
   text-align: center;
   background-color: white;
}


img[alt] {
   border-radius: 50%;
   border-color: white;
   width: 250px;
   height: 250px;
}

button {
   border-radius: 25px;
   border-color:#000054;
   width: 250px;
   background-color: #000054;
   color: white;
   height: 30px;
}

button:hover {
   background-color: #FAC800;
   border-color: #FAC800;
}
button a {
   color: white;
   text-decoration: none;
}
button:hover a{
   color: #000054;
}

/* tabs */
[data-tab-content] {
   display: none;
}

.active[data-tab-content] {
   display: block;
}

.tabs-section{
   display: flex;
   justify-content: space-around;
   border-bottom: 1px solid black;
   width: 400px;
   margin: 0px;
   padding: 0px;
}

.tab {
   cursor: pointer;
   padding: 10px;
   font-size: small;
}

.tab.active {
   background-color: lightgrey;
}

.tab:hover {
   background-color: darkgrey;
}

ul {
   list-style-type: none;
   display: flex;
   justify-content: space-evenly;
   margin: 0px;
   padding: 0px;
}

.icon {
   position: absolute;
   left: 0px;
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 100%;
   z-index: -99;

 }

 .icon span {
   width: 20px;
   height: 100%;
   background-color:#FAC800;
   border-radius: 3px;
   animation: bounce 2.2s ease infinite alternate;
 }

 @keyframes bounce {
   10% { transform: scaleY(0.3); } 
   30% { transform: scaleY(1); } 
   60% { transform: scaleY(0.5); } 
   80% { transform: scaleY(0.75); } 
   100% { transform: scaleY(0.6); } 
 }

 /* Add different animation delays */
 .icon span:nth-of-type(2) {
   animation-delay: -1.7s; 
 }

 .icon span:nth-of-type(3) {
   animation-delay: -2.4s; 
 }
 
 .icon span:nth-of-type(4) {
   animation-delay: -3.6s;
 }

 .icon span:nth-of-type(5) {
   animation-delay: -4.8s; 
 }
 
 .icon span:nth-of-type(6) {
   animation-delay: -6.0s; 
 }

 .icon span:nth-of-type(7) {
   animation-delay: -7.2s; 
 }
 .icon span:nth-of-type(8) {
   animation-delay: -8.4s;
 }

 .icon span:nth-of-type(9) {
   animation-delay: -9.6s;
 }
